@import '../../styles/settings.scss';

.component {
  padding: 0 0 $base-size 0;
}

.description:not(:empty) {
  margin: 0 0 ($base-size * 3);
  text-align: center;
}

.columns {
  @include flex(row, center, space-between);
  flex-wrap: wrap;
  
  @include breakpoint(mobileonly) {
    @include flex(column, center, center);
  } 
}

.creator {
  width: 30%;
  margin: $base-size auto;
  
  @include breakpoint(mobileonly) {
    width: 90%;
  }
}


