@import '../../styles/settings.scss';

.component {
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 $base-size $base-size 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  color: $color-dark;
  border: 3px solid $color-dark;

  &:last-child {
    margin: 0 0 $base-size 0; 
  }
}

.title {
  @include flex(row, center, center);
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  background: $color-light;
  padding: $base-size;
  font-family: $font-text;
  font-size: ($base-size * 1.8);
  color: $color-dark;
  font-weight: 700;
  border: 3px solid transparent;

  &::placeholder {
    color: $color-dark;
  }

  &.active {
    border: 3px solid lighten($color-dark, 50%);
    border-radius: $radius;
  }

}

.icon > * {
  color: lighten($color-medium, 5%);
  font-size: ($base-size * 1.8);
  vertical-align: middle;
 }

.trash > *, .edit > *, .save > * {
  padding-left: $base-size;
  font-size: ($base-size * 2);
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    color: $color-warning;
  }
}

.trash {
  color: $color-dark;
}

.edit {
  color: $color-success;
}

.save {
  color: darken($color-action, 10%);
}

@media (max-width: 767px) {

  .component {
    width: 100%;
    margin: 0 0 $base-size 0;
  }

}
