@import '../../styles/settings.scss';

.component {
  position: relative;
  background: $color-light;
  border: 3px solid $color-dark;
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  
  @include flex(row, space-between, center);

  @include breakpoint(mobileonly) {
    @include flex(column, space-between, center);
    width: 100%;
  }

  .cardWrapper {
    flex: 20%;
    @include flex(row, space-between, center);
    flex-wrap: nowrap;

    @include breakpoint(phablet) {
      @include flex(column, space-between, center);
      flex-wrap: wrap;
    }
  }

  span {
    margin: $base-size/2 0;
  }

  .title {
    width: 100%;
    background: $color-light;
    padding: $base-size;
    font-family: $font-text;
    color: $color-dark;
    border: 3px solid transparent;

    &::placeholder {
      color: $color-dark;
    }

    &.active {
      border: 3px solid lighten($color-dark, 50%);
      border-radius: $radius;
    }
  }

  .icons {
    @include flex(row, flex-end, center);
    flex-wrap: nowrap;
  }
  
  .trash, .edit, .save {
    margin: $base-size $base-size/1.5;
    vertical-align: middle;
  }

  .trash:hover, .edit:hover, .save:hover {
    cursor: pointer;
    color: $color-warning;
  }

  .edit {
    color: $color-success;
  }

  .save {
    color: darken($color-action, 10%);
  }
}