@import '../../styles/settings.scss';

.component {
  position: relative;
  background: $color-light;
  border: 3px solid lighten($color-medium, 10%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  
  @include flex(row, space-between, center);

  @include breakpoint(mobileonly) {
    @include flex(column, space-between, center);
    width: 100%;
  }

  .cardWrapper {
    flex: 20%;
    @include flex(row, space-between, center);
  }

  span {
    margin: $base-size/2 0;
  }

  .title {
    flex: 40%;
  }

  .icons {
    @include flex(row, flex-end, center);
    flex-wrap: nowrap;
  }
  
  .delete, .edit {
    text-decoration: none;
    margin: $base-size $base-size/1.5;
    flex: 30%;
  }

  .delete:hover, .edit:hover {
    color: $color-warning;
  }

  .edit {
    color: $color-success;
  }
}