@import '../../styles/settings.scss';

.component {
  position: relative;
  background: $color-light;
  border: 3px solid lighten($color-medium, 10%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
}

.source{
  font-size: $base-size;
}