@import '../../styles/settings.scss';

.component {
  // position: relative;
  min-height: ($base-size * 15);
  background: lighten($color-dark, 60%);
  margin: ($base-size * 2) 0;
  border-radius: $radius;
  padding: $base-size;
}

.title {
  padding: $base-size;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 7s steps(50, end);
  
  @include breakpoint(mobileonly) {
    animation: none;
    white-space: pre-wrap;
    font-size: $base-size * 1.6;
  } 
}

.subtitle {
  padding: $base-size;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;

  @include breakpoint(mobileonly) {
    font-size: $base-size * 1.2;
    padding: $base-size/2;
  } 
}

.creator {
  width: 36%;
  margin: $base-size auto;
  @include breakpoint(mobileonly) {
    width: 56%;
  } 
}

@keyframes typing { 
  from { width: 0 }
  to { width: 100% }
}